<div class="nav">
  <a
    href="#"
    class="nav__item"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['/']"
    routerLinkActive="nav__item--active"
  >
    Home
  </a>
  <a
    href="#"
    class="nav__item"
    [routerLink]="['/inventory']"
    routerLinkActive="nav__item--active"
  >
    Inventory
  </a>
  <a
    href="#"
    class="nav__item"
    [routerLink]="['/reports']"
    routerLinkActive="nav__item--active"
  >
    Reports
  </a>
  <a
    href="#"
    class="nav__item"
    [routerLink]="['/billing']"
    routerLinkActive="nav__item--active"
  >
    Billing
  </a>
  <a
    href="#"
    class="nav__item"
    [routerLink]="['/profile']"
    routerLinkActive="nav__item--active"
  >
    Profile
  </a>
</div>
