.header {
  height: 30px;
  background-color: #8676b6;
  padding: 10px 30px;
  &__profile {
    float: right;
    margin-right: 20px;
  }
  &__user {
    float: left;
    height: inherit;
    display: flex;
    align-items: center;
  }
  &__logout {
    float: right;
    height: inherit;
    display: flex;
    align-items: center;
  }
  &::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
    height: 0;
  }
}
.header-message {
  height: 30px;
  padding: 10px 30px;
  background-color: rgb(21, 135, 21);
  display: flex;
  align-items: center;
  &__text {
    color: #ffffff;
  }
}
